# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**


*   List popular languages for Data Science
*   List common libraries for Data Science
*   Create markdown table displaying Data Science Tools
*   Evaluate arithmetic in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Keras
2. TensorFlow
3. SciKitLearn

| Data Science Tools|
---------------------
RStudio
Apache Spark
TensorFlow

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# this a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author:
Rhea Grose